layout {
    background-color "transparent"

    focus-ring {
        active-color   "#a4d396"
        inactive-color "#8d9387"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a4d396"
        inactive-color "#8d9387"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a4d396"
        inactive-color "#8d9387"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a4d39680"
    }
}